doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Kuttikkara.com
    link(rel='stylesheet', href='css/style.css')
body
    .slidemenu
      .slidemenu-header-container
        .slidemenu-header
          h1 Kuttikkara
      .slidemenu-list-container
        ul
          li
            a(href='/') Home  
          li
            a(href='/tree') Family-Tree  
          li
            a(href='/album') Album
    block content