* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	top: 0;
	background: #fff;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100vh;
	max-width: 100%;
	font-family: 'Lato', sans-serif;
}

header {
	position: relative;
	background: #AAABD3;
	min-height: 75px;
	z-index: 1;
}

main {
	min-height: 100%;
	width: 80%;
	margin: auto;
	margin-bottom: -50px;
}

ul {
	width: 100%;
	list-style: none;
	padding: 5px;
}

li {
	margin: 0;
	padding: 15px;
	color: #566270;
	list-style: none;
	border-bottom: solid 1px #e0e3da;
	transition: all .3s ease;
}

li:hover {
	background: #dee1e8;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
	min-height: 30px;
}

.header-hamburger-icon {
	position: absolute;
	top: 15px;
	left: 10px;
	width: 45px;
	height: 45px;
	cursor: pointer;
}

.slidemenu {
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
	background: #f4f4f4;
	transform: translate(-200%,0);
	transition: all .3s ease;
	box-shadow: 1px 0px 5px #888888;
	cursor: pointer;
	z-index: 5;
	overflow: hidden;
}

.slidemenu-header-container {
	width: 100%;
	min-height: 75px;
	background: #AAABD3;
	overflow: hidden;
}

.slidemenu-header{
	width: 90%;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.slidemenu-header h1 {
	padding-left: 5px;
}

.slidemenu-list-container {
	width: 100%;
	height: 100%;
}

#main-container {
	transition: all .3s ease;
}

.main-header {
	margin: 30px 0;
}

.main-history {
	margin: 30px 0;
}

.main-description-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main-description {
	display: flex;
	line-height: 1.5em;
}

.main-footer {
	padding: 1em 0;
	text-align: center;
	background: #d9e4ea;
}

@media only screen and (min-width: 600px) {
	main {
		width: 65%;
	}
}

@media only screen and (min-width: 900px) {
	main {
		width: 50%;
	}
}

.chart {
	width: 50px;
	transition: all 1s ease;
}